


.outlet-container{
    position: absolute;
    /* transform: translateX(); */
    z-index: 8;
    background-color: rgb(111, 205, 111);
}
.add-task-field1{
    width: 80% !important;
}
.add-task-field2{
    width: 80% !important;
}

.taskForm{
    width: 50%;
    border-radius: 10%;
    position: absolute !important;
    z-index: 4;
    background-color: rgb(238, 234, 234);
}

.react-date-picker__inputGroup__input{
    background-color: transparent !important;
    height: 15px !important;
    border: none !important;
}
.react-date-picker__wrapper{
    background-color: #fff;
}

.taskBtn{
    cursor: pointer;
    width: 130px;
    background-color: rgba(99, 73, 212, 0.624) !important;
    float:right !important;
    border-bottom-right-radius: 40% !important;
}

  
