body ::-webkit-scrollbar {
    width: 6px;
  }
  .ui.vertical.menu.sidebar-menu {
    margin-top: 60px !important;
    margin-left: 5px !important ;
    max-height: calc(95% - 40px) !important;
    height: calc(95% - 40px) !important;
    border-radius: 10px !important ;
  }
  canvas{
    background: linear-gradient()
  }

 .chart-container{
   background-color: rgba(252, 252, 252, 0.802);
   height: fit-content;
   width: 750px;
   border: rgb(252, 252, 252);
   box-shadow: 0px 0px 8px 0px rgba(63, 63, 63, 0.423) ;
   border-radius: 3px;
   
 }
.stats-container{
  display: flex;
  justify-content: space-between;
  height: 50%;
}
.charts-wrapper{
  padding: 50px !important;
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: space-evenly; */
}
.stat-chart-wrapper{
  display: flex;
  flex-direction: column;
  height: 100vh;

}
.list-container{
  padding: 10px 40px;
  padding-left: 50px;
  width: 100%;
  
}
.ui.celled.table{
   box-shadow: 0px 0px 8px 0px rgba(63, 63, 63, 0.423) ;

}
textarea {
  margin: 10px;
  width: 100%;
  height: 380px;
  max-height: 600;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize:vertical;
}


  .ui.vertical.menu.sidebar-menu .item i.icon {
    float: right;
    margin: 0em 0.5em 0em 0em;
  }
  .main-content {
    margin-top: 40px;
  
  }

.performance-card{
  height: 200px;
  width: 200px;
  border: 1px solid black;

}

  @media (min-width: 768px) {
    .ui.vertical.menu.sidebar-menu {
      visibility: visible;
      transform: translate3d(0, 0, 0);
      width: 15rem !important;
      box-shadow: 0px 0px 8px 0px rgba(108, 107, 107, 0.693) ;
    }
    .main-content {
      margin-left: 16rem;
      margin-top: 4rem
    }
    .sidebar-menu-toggler {
      display: none !important;
    }
  }
  .projectCard{
    box-shadow: none !important;
  }

  


  