#root{
  height: 100%;
}
.dashboard{
  height: 100%;
}
nav{
  height: 56px !important;
}
  .ui.vertical.menu.sidebar-menu {
    margin-top: 70px !important;
    margin-left: 5px !important ;
    max-height: calc(95% - 40px) !important;
    height: calc(95% - 40px) !important;
    border-radius: 10px !important;
    box-shadow: none !important;
  }
  .ui.sidebar.vertical.menu.sidebar-menu {
    width: 230px !important;
  }


 
.hoverable:hover{
  background: var(--blue) !important;
  cursor: pointer;
}
.ui.toggle.checkbox>label::before{
  background: var(--secondaryColor) !important;

}
 .bar-chart>*{
   height: 400px !important;
   width: 700px !important;
 }
.stats-container{
  display: flex;
  justify-content: space-between;
  height: 50%;
}


  .ui.vertical.menu.sidebar-menu .item i.icon {
    float: right;
    margin: 0em 0.5em 0em 0em;

  }
  

.main-content {
  height: 100%;
  padding-top: 50px;
}

  @media (min-width: 768px) {
    .ui.vertical.menu.sidebar-menu {
      visibility: visible;
    }
    .main-content {
      height: 100%;
      margin-left: 16rem;
    }
    .sidebar-menu-toggler {
      display: none !important;
    }
  }
  
  
  @media (max-width: 800px) {
    
    .stats-container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0px;
    }
    .stat-chart-wrapper{
      display: flex;
      flex-direction: column;
    justify-content: space-between;
    height: 100% !important;
    }
    

.list-container{
  display: flex ;
  flex-direction:column-reverse;
}

   
  
  }
  


  