
.project-list-table{
    height: 100%;
    max-height: 100%;

}

.project-list-item{
    cursor: pointer;
    display: flex;
    height: 15%;
    max-height: 70px;
    background-color: #ffffff;
    background-image: var(--primaryColor);
    margin: 10px;
    padding: 3px;
    border-radius: 25px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);

}
.project-list-item:hover{
    background-color: var(--secondaryColor);
background: var(--secondaryColor);
color: white;
}
.list-title{
padding-left: 15px;
font-weight: 900;
font-size: 1.1rem;
}

.project-image-box{
    width: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.project-name{
    display: flex;
    align-items: column;
    align-items: center;
    width: 80%;
    font-weight: 500;

}
.overview-cards{
    width: 250px;
    height: 250px;
}
.project-image{
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
   justify-content: center;
   align-items: center;

}
.view-project{
    background: var(--secondaryColor);
    opacity: 70%;
    height: 20px;
    margin: auto 0;
    width: 60px;
    height: 20px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}
.view-all{
    cursor: pointer;
    color: rgb(222, 132, 83);
    margin-left: 65px;
    height: 7%;
    width: 70%;
    border: 0.08rem solid rgba(240, 121, 74, 0.518);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-all:hover{
    opacity: 70%;
background: var(--secondaryColor) ;
border: none;
color: white;
}

.view-project:hover{
    background: white;
    color: orangered;
}

@media(max-width: 900px){
    .view-all{
        display: none;
    }
}