

progress {
    border-radius: 25px; 
    width: 100%;
    height: 22px;
  }
  progress::-webkit-progress-bar {
    background-color: rgba(237, 237, 237, 0.566);
    border-radius: 25px;
  }
  progress::-webkit-progress-value {
    background-color: rgb(97, 209, 97);
    border-radius: 7px;
    border-radius: 25px;
  }
  .clear{
   position: absolute;
    background-color: cyan;
    opacity: 0.4;
    height: 100vh;
    width: 100vw;
  }

  