
.ui.compact.table{
    background-color: white !important;
    border: none !important;
    width: 100% !important;

}


.task-row:hover{
    cursor: pointer;
    background-color: rgba(231, 231, 231, 0.726);
}

.taskWrapper .taskWrapper{
    width: 100vw !important;

}

.container{
    display: flex;
    /* width: 50%; */
}
.right-half{
    width: 50%;
}
.tasks-projects-wrapper{
display: flex;
width: 100% ;
}
.content{
    margin-left: 20px ;
    width: 100%;
    overflow: hidden;
}

.overviews{
    display: flex;
    width: 100% !important;
}
.project-task-container{
    display: flex;
    width: 100%;
}

.task-overview{
    width: 50%;
    padding-left: 10px;
}
.project-overview{
    width: 50%;
}
.task-container{
    margin-right: 10px !important;
}
.project-card{
    max-height: 300px ;
    width: 250px;
    max-width: 250px;
    margin: 10px !important;
    overflow: hidden;
}
.projectCard{
    margin-bottom: 0 !important;
    height: 200px;
}
.ui.justified.container{
    max-height: 50px !important;
    overflow:-moz-hidden-unscrollable
}

.projects-container{
    margin-left: 50px;
     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}



@media (max-width: 768px) {
    .overviews{
        flex-direction: column;
    }
    .project-task-container{
        flex-direction: column ;
    }
    .tasks-projects-wrapper{
        flex-direction: column;
    }
    .right-half{
        width: 100%;
    }
    .content{
        width: 100%;
        padding: 0 !important;
        flex-grow: 0 !important;
    }
    .content::after{
        height: 10px !important;
        padding: 0 !important;
    }
    
    
    .project-overview{
        width: 100%;
    }
    .task-overview{
        width: 100%;
    
    }
    .task-container{
        width: 99% !important;
        max-width: 1000px;
    }
    .projects-container{
    
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 !important;
    }
    
    .project-card>*{
        padding: 10px 0;
        width: 100% !important;
       
    }
    .ui.segment.project-card{
        width: 120% !important;
        max-width: 100%;
        height: 200px;
    }
    }